/* 
Theme Name: Griffin Child
Description: Griffin Child to customize
Author: Michael Burrows  
Author URI: http://www.wpmultiverse.com/
Theme URI: http://www.wpmultiverse.com/themes/griffin/
Template: griffin
Tags: blue, gray, white, light, three-columns, two-columns, right-sidebar, responsive-layout, custom-colors, custom-header, custom-menu, editor-style, featured-images, sticky-post, threaded-comments   
Version: 1.0.9
License: GNU General Public License v3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html 
Griffin WordPress Theme, Copyright 2014 wpmultiverse.com
Griffin WordPress Theme is distributed under the terms of the GNU GPL
Text Domain: griffin
*/ 
@import '../griffin/style.css';
/* Body */
body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 71px;
}
/* header */
header {
  padding: 1.5% 0 1% 0;
}

#header-content {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header-logo {
  border-bottom: 3px solid #fff;
  display: inline-block;
  padding: 0 10px;
  transition: opacity .2s;
}
#header-logo span {
  padding-left: 20px;
  color: #fff !important;
  font-size: 2.5rem;
  vertical-align: bottom;
}
#header-logo:hover {
  text-decoration: none;
  opacity: 0.65;
}
#header-button {
  background-color: #5EAC25;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
  margin-top: 15px;
  transform: translateX(150px);
  transition: transform .2s;
}
#header-button:hover{
  transform: translateX(150px) scale(1.1);
}
#header-social {
  color: #fff;
  width: 50%;
  margin: 3.5% auto 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}
#header-social a {
  color: #fff;
  transition: color .2s;
}
#header-social a:hover {
  color: #265C96;
}
#header-social i {
  font-size: 4rem;
  margin: 0 4px;
}
#primary-menu {
  background-color: #265C96;
  border-top: 6px solid #5EAC25;
}

@media screen and (max-width: 790px) {
  #header-button{
    transform: translateX(0);
  }
  #header-button:hover{
    transform: translateX(0) scale(1.1);
  }
  #header-social {
    width: 50%;
    margin: 5% auto 0 auto;
    justify-content: center;
  }
  #header-social i {
    font-size: 2rem;
    margin: 0 2px;
  }
}

/* footer */
footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
#footer-meta {
  height: 71px;
  border-top: 6px solid #5EAC25;
  background-color: #265C96;
}
#footer-meta p { 
  margin-top: 10px;
  margin-bottom: 0;
  color: #fff;
}
#footer-meta a { 
  color: #fff;
  transition: opacity .2s;
}
#footer-meta a:hover { 
  opacity: .65;
  text-decoration: none;
}

/* Form-comment */
textarea#comment {
  width: 100%;
}
form#commentform input[type=text],
form#commentform input[type=email] {
  width: 50%;
}


/* Sidebar widgets */
#sidebar-widgets {
  padding-top: 0;
}

/* media queries */

@media (max-width:768px) {
  h1#post-title {
    font-size: 32px;
    padding-right: 0;
  }
  form#commentform input[type=text],
  form#commentform input[type=email] {
    width: 100%;
  }
  .teaser {
    width: 100%;
    margin: 0 0 30px 0;
  }
  #teaser-holder.row {
    margin-left: 0;
    margin-right: 0;
  }
  header {
    border-bottom: 6px solid #5EAC25;
  }
}